
@{
    ViewBag.Title = "Events";
}

<h1 class="mt-4">Events</h1>
<p> Manage Community Events here.</p>

<!-- Example placeholder -->
<div class="card mt-3">
    <div class="card-body">
        <p>Events table / UI goes here.</p>
    </div>
</div>


